  <h1>Account Login</h1>
  <form action='/login' method='POST'>
    <label for="email">Email</label>
    <input class='form-control' type='text' placeholder='Email' name='email' value="{{email}}" id="email" required/>
    <label for="password">Password</label>
    <input class='form-control' type='password' placeholder='Password' name='password' value="" id="password" required/>
    {{#if loginFailed}}
    <div class="error">
    <p>Error</p>
    <p>Please enter valid username and Password</p>
    </div>
    {{/if}}
    <button class='btn btn-outline-primary' type='submit'>Sign in</button>
  </form>