<div class='container'>
  <h1>Account Login</h1>
  <form action='/login' method='POST'>
    <input class='my-2' type='text' placeholder='Email' />
    <input type='password' placeholder='Password' />
    <button class='btn btn-outline-primary' type='submit'>Sign in</button>
  </form>
</div>