* {
  color: #4794f4;
}

body {
  background: rgb(19, 82, 244);
  background: linear-gradient(
    90deg,
    rgba(19, 82, 244, 0.6306897759103641) 14%,
    rgba(19, 205, 244, 0.6054796918767507) 100%
  );
}

.container {
  width: 550px;
  margin: 0 auto;
  position: relative;
  top: 200px;
}

h3 {
  text-shadow: 3px 1px 3px rgba(47, 124, 206, 0.2);
}

.card {
  border-color: #d7dee7;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

strong {
  color: inherit;
}
